{% extends 'base.html' %}
{% load static %}
<title>{% block title %}英単語一覧{% endblock %}</title>
<link rel="stylesheet" href="{% static 'vocabularies/css/vocabulary_list.css' %}">
{% block content %}

<a class="back-home" href="{% url 'vocabularies:home' %}">«ホームに戻る</a>

<div class="english-list">
<h1 id="list-word">英単語一覧</h1>
<form class="search-form" method="get" action="{% url 'vocabularies:vocabulary_list' %}">
    <input class="search" type="text" name="q" placeholder="英単語を探す(前方一致)" value="{{ query }}">

    <label class="label-arrange" for="order_by">並べ替え:</label>
       <select class="select-options" name="order_by" id="order_by">
         <option value="create_at" {% if order_by == 'create_at' %}selected{% endif %}>作成日順</option>
         <option value="english_word" {% if order_by == 'english_word' %}selected{% endif %}>アルファベット順</option>
       </select>

    <button class="execution" type="submit">実行</button>
</form>

{% if no_results %}
  <p id="no-results-word">一致するものがありませんでした。</p>
{% else %}
  <table class="vocabulary-table">
  <thead>
    <tr>
       <th>英単語</th>
       <th>意味</th>
       <th>例文</th>
       <th>例文の意味</th>
       <th>編集/削除</th>
    </tr>
  </thead>
  <tbody>
  {% for vocabulary in words %}
    <tr>
       <td>{{ vocabulary.english_word }}</td>
       <td>{{ vocabulary.meaning_word }}</td>
       <td>{{ vocabulary.example_sentence }}</td>
       <td>{{ vocabulary.meaning_of_example_sentence }}</td>
      <td>
        <div class="button-group">
          <a class="edit-button" href="{% url 'vocabularies:vocabulary_update' pk=vocabulary.id %}">編集</a>
          <a class="delete-button" href="{% url 'vocabularies:vocabulary_delete' pk=vocabulary.id %}">削除</a>
          </form>
        </div>
       </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endif %}
</div>

{% endblock %}
