@charset 'utf8';

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}





/* answer_list.css */


.back-quiz {
  text-decoration: none;
  color: #7e5b4f;
  margin-bottom: 5px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
}

.back-quiz:hover {
  text-decoration: underline  ;
  color: #7e5b4f;

}
  
.back-english-list {
  text-decoration: none;
  color: #7e5b4f;
  border-radius: 5px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
}

.back-english-list:hover {
  text-decoration: underline ;
  color: #7e5b4f;

}

.result-query {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.result-query form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#arrange {
  font-weight: bold;
  color: #7e5b4f;
  margin-left: 100px;
  margin-right: -40px;
}

#arrange-option {
  margin-left: -30px;
}

#correct {
  font-weight: bold;
  color: #7e5b4f;
  margin-right: -80px;
  margin-left: -40px;
}


#correct-option {
  margin-left: 5px;
  margin-right: -40px;

}



.result-query select, 
.result-query button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.result-query button {
  background-color: #7e5b4f;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 80px;
}

.result-query button:hover {
  background-color: #6d4c41;
}

h2#result-list {
  text-align: center;
  font-size: 2em;
  color: #7e5b4f;
  padding-bottom: 20px;
  margin-top: 10px;
}

.result-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.result-table th, .result-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.result-table th {
  background-color: #f2e3dc;
  color: #7e5b4f;
  font-weight: bold;
}

.result-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result-table tr:nth-child(odd) {
  background-color: #fff;
}




