{% extends 'base.html' %}
{% load static %}
<title>{% block title %}英単語編集{% endblock %}</title>
<link rel="stylesheet" href="{% static 'accounts/css/user_update.css' %}">
{% block content %}

<a class="back-userpage" href="{% url 'accounts:user_detail' %}">«ユーザー情報ページに戻る</a>
<div class="user-update-container">
  <form id="user-updateform" action="{% url 'accounts:user_update' %}" method="POST">  {# pk=object.pk で、pkを指定していないとエラーになったよ #}
  <h1 id="user-update-word">ユーザー情報編集</h1>
    {% csrf_token %}
  
    <div id="username-input" class="user-updateform-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% for error in form.username.errors %}
        <div class="user-update-error">{{ error }}</div>
      {% endfor %}
    </div>
  
    <div class="user-updateform-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {% for error in form.email.errors %}
        <div class="user-update-error">{{ error }}</div>
      {% endfor %}
    </div>
  
    <input class="user-update-botton" type="submit" value="更新">
  </form>
</div>
{% endblock %}


