{% load static %}
<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'vocabularies/css/base.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/home.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/vocabulary_regist.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/vocabulary_list.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/vocabulary_update.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/quiz.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/problem.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/answer.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/answer_list.css' %}">
      <link rel="stylesheet" href="{% static 'accounts/css/user_detail.css' %}">
      <link rel="stylesheet" href="{% static 'accounts/css/user_update.css' %}">
      <link rel="stylesheet" href="{% static 'vocabularies/css/cannot.css' %}">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'vocabularies:home' %}">ホーム</a>
        <a class="navbar-brand" href="{% url 'vocabularies:vocabulary_regist' %}">英単語登録</a>
        <a class="navbar-brand" href="{% url 'vocabularies:vocabulary_list' %}">英単語一覧</a>
        <a class="navbar-brand" href="{% url 'vocabularies:quiz' %}">クイズ</a>
        <a class="navbar-brand" href="{% url 'accounts:user_detail' %}">ユーザー情報</a> 
        <a class="navbar-brand" href="{% url 'accounts:logout' %}">ログアウト</a>
      </nav>
      <div class="container">
        {% block content %}{% endblock %}
      </div>
   </body>
</html>