@charset 'utf8';

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}





/* login.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #fcecd1; /* 淡いオレンジ色の背景 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 3em;  /* フォントサイズを大きくする */
}

h2 {
  text-align: center;
  color: #34495e;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.form-group label {
  text-align: center;
  margin-bottom: 5px;  /* ラベルと入力フィールドの間にスペースを追加 */
}




input[type="text"],
input[type="password"] {
  width: calc(100%);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 130px;  /* 幅を自動に設定 */
  padding:  8px 20px; /* パディングを調整してボタンを小さくする */
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: backgr  ound-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px; /* 上に少しスペースを追加 */  
  margin-left: 15%;
  margin-bottom: 30px;
}

input[type="submit"]:hover {
  background-color: #d35400;
  transform: scale(1.05);
}


.error-message {
  color: #e74c3c;
  font-size: 0.9em;
  margin-top: 5px;
}



.back-welcome {
  color: #ce633c;
  border: none;

}


.back-welcome:hover {
  color: #9c4b2e;
}
